<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <h1>Añadir Oficina</h1>
        <form action="/agregar2" method="post">
            <input type="id" name="email" placeholder="ID">
            <input type="text" name="denominacion" placeholder="Denominacion">
            
            <button class="btn btn-dark" type="submit">Agregar</button>
        </form>
    </body>

</html>