<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <h3>Agregar persona</h3>
        
        <div class="container">
            <div class="row mt-5" >
                <div class="col-md-7">
                   <div class="card">
                        <div class="card-body">
                            
                            <tbody>
                                <form action="/agregar" method="post">

                                    <div class="form-group">
                                        <input type="text" name = "nombre" placeholder="Nombre " class="form-control">
                                    </div>
        
                                    <div class="form-group">
                                        <input type="email" name = "email" placeholder="Email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-select form-select-sm" aria-label="Small select example">
                                            
                                            <option selected action= "/listoficina" >Seleccione denominación</option>
                                            <option value="1" >Informatica</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                          </select>
            
                                    </div>
                                    <button type="submit" class="btn btn-dark ">
                                        Agregar
                                    </button>
        
                                </form>
                            </tbody>

                        </div>
                   </div>
                </div>
                <div class="col-md-5">
                   
            </div>
        </div>

    </body>

</html>