<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <h1>Confirma que desea eliminar ese registro?</h1>
        <form action="/delete/<%= item.id %>" method="post">
            <button type="submit">Confirmar</button>
        </form>

    </body>

</html>