<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>

        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form action="/resoficina" class="d-flex" role="search" method="post">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-black" type="submit">Buscar</button>
              </form>
            </div>
          </nav>
            
        
    </body>

    