<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <h1>Edit Item</h1>
        <form action="/update/<%= item.id %>" method="post">
            <input type="text" name="nombre" value="<%= item.nombre %>" required>
            <input type="text" name="email" value="<%= item.email %>" required>
            <!-- Nuevo campo -->
            <button type="submit">Update</button>
        </form>
    </body>

</html>