<!DOCTYPE html>
<html>
<%- include('./head.ejs') %>

    <body>
       <div class="barra-navegacion">
        <%- include('./navigation.ejs') %>
       </div>

        <div class="body">
            <%- include('./agregar.ejs') %>
        </div>
         
            
            
    </body>

</html>