<!DOCTYPE html>
<html>
<%- include('./head.ejs') %>

    <body>
       <div class="barra-navegacion">
            <%- include('./navigation.ejs') %>
       </div>

       <div>
       
       </div>
       

    </body>
</html>