<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <ul>
            <% oficinas.forEach(element => { %>
                <li>
                    <%= element.nombre  %>
                </li>
                <% }) %>
        </ul>
    </body>